.search_bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    z-index: 100;
    transition: 0.1s linear;
}

.search_bar .user_input {
    height: 75%;
    width: 80%;
    border: 0px transparent;
    border-radius: 10px;
    background-color: #cddafd1c;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    letter-spacing: 1px;
}

.user_input:focus {
    outline: none;
}

.search_bar .search_button {
    display: flex;
    justify-content: flex-end;
    height: 75%;
    width: 20%;
    border: 0px transparent;
    background-color: transparent;
    color: white;
}

.search_button i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 100%;
    width: 70%;
    border-radius: 10px;
    color: white;
    background-color: #cddafd1c;

}

.results {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 0px 10px;
    gap: 5px;


}

.results li {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    background-color: #cddafd1c;
    font-size: 1.8em;
    letter-spacing: 2px;
    height: 60px;
    padding: 5px 10px;
    justify-content: space-between;
    border-radius: 10px;
    text-align: center;
}

li:nth-last-child(1) {
    position: relative;
}

.closeAll {
    margin: 0 auto;
    width: 30%;
    margin-top: 20px;
    font-size: 1.5em;
    padding: 1px;
    border-radius: 10px;
    background-color: #cddafdc9;
    color: white;
    border: transparent;
}

.closeAllOff{
    display: none;
}

.click_map {
    width: 50%;
    font-size: 1.4rem;
    margin: 0 auto;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    left: 50%;
    background-color: #cddafdc9;
    border-radius: 5px;
    border: transparent;
    text-transform: uppercase;
    opacity: 0.8;

}

.alert_map {
    display: none;
    position: absolute;
    top: 50px;
    width: 95%;
    margin: 0 auto;
    height: 350px;
    z-index: 100;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
}

.exit_button {
    position: absolute;
    top: 0;
    z-index: 101;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 5px;
    border: transparent;
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: bold;
    right: 10px;
    top: 10px;
    text-transform: uppercase;
    border-radius: 10px;
}

.showMap {
    display: block;
}


@media (max-width:320px){
    .results li {
        height: 40px;
    }
    .closeAll {
        width: 30%;
        margin-top: 0;
        font-size: 1.2em;
        padding: 0;
    }
}

@media (max-width:375px){
    .results li {
        height: 50px;
    }
}