:root {
    --spacing: 2px;
    --bottom_border_header: 1px solid rgba(255, 255, 255, 1);
    --bottom_border: 1px solid rgba(255, 255, 255, 0.425);
    --shadow: rgba(0, 0, 0, 0.45) 0px 2px 8px;
}

.tiles {
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 5px;
    gap: 20px;
    margin-bottom: 5vh;
    font-size: 10px;
}

.tile {
    width: 45%;
    min-height: 160px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    letter-spacing: var(--spacing);
    padding: 5px 5px;
    background-color: #cddafd1c;
    font-size: 1.3em;
}

.tile .header {
    font-size: 1.3em;
    text-transform: uppercase;
    opacity: 0.75;
    border-bottom: var(--bottom_border_header);
}

.tile .header i {
    padding-right: 5px;
}

.tile_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.tile_2 {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
}


.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    margin: 0 auto;
}

.arrow i {
    font-size: 25px;
    transform: rotate(0deg);
}

#N {
    position: absolute;
    top: 0;
}

#S {
    position: absolute;
    bottom: 0;
}

#W {
    position: absolute;
    left: 0;
}

#E {
    position: absolute;
    right: 0;
}

#wind_speed {
    display: none;
    position: absolute;
    top: 45px;
    font-size: 10px;
}

#wind_deg {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
}

.tile_3 {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
    width: 100%;
    gap: 10px;
}

.tile_3 i {
    padding-right: 5px;
}

.bar {
    position: relative;
    height: 15px;
    width: 95%;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(31, 255, 0, 0.5018382352941176) 0%, rgba(223, 232, 7, 0.5) 25%, rgba(255, 115, 0, 0.5) 50%, rgba(255, 0, 0, 0.5) 75%, rgba(149, 0, 255, 0.5) 100%);
    border-radius: 10px;
}

.dot {
    position: absolute;
    height: 10px;
    width: 2%;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 50%;
    top: 50%;
    left: 1%;
    transform: translate(0%, -50%)
}

.aiq_info {
    padding: 10px 0;
    text-align: justify;
}

.aiq_index_conatiner {
    padding-top: 5px;
}

@media (max-width:320px){
    .tiles {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 5px;
        gap: 20px;
        margin-bottom: 5vh;
    }
    
    .tile {
        width: 45%;
        min-height: 140px;
        border-radius: 10px;
        box-shadow: var(--shadow);
        letter-spacing: var(--spacing);
        padding: 5px 5px;
        font-size: 14px;
    }

    
.tile_3 {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
    width: 100%;
    gap: 10px;
}
}