.daily_weather {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #cddafd1c;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 8px;
    margin-bottom: 5vh;
}

.info_7days {
    text-transform: uppercase;
    font-size: 1.5em;
    opacity: 0.75;
    letter-spacing: var(--spacing);
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
    padding: 5px 5px;
}

.info_7days i {
    padding-right: 5px;
}

.daily_weather .daily_cointainer {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    padding-left: 5px;
    letter-spacing: var(--spacing);
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
    font-size: 1.3em;
}

.daily_cointainer .daily_day {
    width: 50%;
}

.daily_cointainer .daily_icon {
    width: 20%;
}

.daily_cointainer .daily_temp {
    width: 30%;
    text-align: right;
    padding-right: 5px;
}

.daily_cointainer:nth-last-child(1) {
    border-bottom: transparent;
}